@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>傘占いは、日本全国の指定した場所(1000ヵ所以上！)で24時間以内に傘がいるかどうかを占います。</p>
<p>占い結果はパーセントで表示され50%以上なら「いる？」、以下なら「いらない？」と診断されます。</p>
<br>
<p>占いと言っても基本は実際の天気予報をベースにしています。</p>
<p>例えば24時間の天気予報がずっと雨なら、占いも高確率でいると診断され、</p>
<p>天気予報がずっと天気ならば、占いも高確率でいらないと診断されます。</p>
<p>そして天気予報が晴れ雨50%の時は、占い結果もどちらになるかわかりません！</p>
<br>
<p>天気予報は降水確率100%でも雨が降るとは限りません。</p>
<p>傘占いも当たるも八卦当たらぬも八卦。是非占ってください！</p>
<br>

<h3>更新履歴</h3>
07/18 占いアルゴリズム修正<br>
07/16 <a href="http://blog.nakajix.jp/entry/2013/11/30/010500">Azure時間対応</a><br>
07/16 複数個所検索対応<br>
07/16 説明ページ追加<br>
07/03 傘がいる(Need)かいらない（Not）か表示。判定は50%に<br>
