@{
    ViewBag.Title = "Home Page";
}
<style type="text/css">
<!--
body {
  text-align: center;
}
-->
</style>
<img src="~/Content/Umbrella.png">
@using (Html.BeginForm("Fortune", "Home", FormMethod.Get))
{
    @Html.DropDownList("City", (IEnumerable<SelectListItem>)ViewBag.Citys)
    <br><br>
    <button type="submit" class="btn btn-default btn-lg">
        <span class="glyphicon glyphicon-tint" aria-hidden="true"></span>占い
    </button>
}
